body {
    padding: 0;
    margin: 0;
}

#backImage {
    background-image: url('/Content/artMovie.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.detail_Image {
    width: 230px; 
    height: auto; 
    border: 5px #fff solid; 
    border-radius:3px;
}

.container {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

#mainBG {
    background-color: rgba(255, 255, 255, 0.1);
}

.large-box {
    padding: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
 
}

#footerText{
    font-size:12px;
    color: #575353;
}

.createLink{
    padding: 10px;
}

#indexBG{
    background-color: #ffffff;
}

#createForm {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
}

#deleteTable {
    background-color: rgba(255, 255, 255, 0.0);
    
}

.linkBtn {
    text-align: center;
    padding: 20px;
}

#info {
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
}

#actorImage{
    text-align: center;
    padding: 40px;
}

#actorInfo{
    vertical-align: top;
    text-align: left;
    padding: 40px;
}

#bottonButtons {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
}

.description {
    border: 1px solid #969494;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin: 50px;
}

@media screen and (max-width: 370px) {
    #info{
        display: block;
        padding: 20px;
    }
}

@media screen and (max-width: 468px) {
    #info {
        display: block;
        padding: 20px;
    }
}