

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.indexImage {
    max-width: 300px;
    max-height: 450px;
    border: solid 1px black;
    margin: 1%;
    padding: 1%;
}
/*page headings - all Views*/
@font-face {
    font-family: 'Top Secret Stamp';
    src: url('../fonts/Top Secret Stamp.ttf') format('truetype');
}

@font-face {
    font-family: 'SleuthSerifBB';
    src: url('../fonts/SleuthSerifBB.ttf') format('truetype');
}

.pageHeading {
    font-family: Elephant, 'Times New Roman', Times, serif;
    font-size: 4em;
}

/***  Flexbox for Home/Index page layout*****/
.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.headerButtons {
    width: 100%;
    text-align: center;
}

.flexContainer > .dbItem {
    border: solid 0.2px #969494;
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.flexContainer > div > a > img {
    max-height: 300px;
}

.flexContainerMedium > .dbItem {
    border: solid 1px black;
    margin: 20px;
    padding: 15px;
}

.flexContainerMedium > div > a > img {
    max-height: 225px;
}

.flexContainerSmall > .dbItem {
    border: solid 1px black;
    margin: 20px;
    padding: 10px;
}

.flexContainerSmall > div > a > img {
    max-height: 150px;
}

